<!DOCTYPE html>
<html>
    <head>
        <title>Decoded</title>
        <link href="http://localhost:3000/css/decoded.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="main">
            <h2>Decoded QR Code Text</h2>
            <div id="info">
                <p><%=data%></p>
            </div><br/>
            <a href="http://localhost:3000/" id="btn">Home</a>
        </div>
    </body>
</html>